/* src/components/Article/Article.css */
.article {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  
.article p {
    font-size: 1.1em;
    line-height: 1.5;
}
  